@import '../../styles/variables.scss';

.source {
  margin-bottom: 5px;

  &__text {
    margin-bottom: 10px;
  }

  &__link {
    text-decoration: none;
    color: $darkColor;
    word-break: break-word;

    transition: border 0.3s;

    &--dark {
      color: $whiteColor;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      background-image: url(../../icons/icon-new-window.svg);
      background-repeat: no-repeat;
      background-position: right;
      padding-left: 12px;
    }

    &:hover {
      border-bottom: 1px solid $purpleColor;
    }
  }
}